<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                      <i class="fa fa-plus-square"></i>
                      Gestion des équipements
                    </h3>
                </div>
                <div class="card-body">

                	<div class="row">
	                	<div class="col-md-12">
					      <!-- Nav tabs -->
					      <tabset>
					        <tab heading="Categorie">
					          <div class="row">
					          	<div class="col-lg-6">
					          		<div class="card">
					          			<div class="card-body">
					          				<table class="table table-hover">
					          					<thead>
					          						<tr>
					          							<th>#</th>
					          							<th>Catégorie</th>
					          						</tr>
					          					</thead>
					          				</table>
					          			</div>
					          		</div>
					          	</div>
					          	<div class="col-lg-6">
					          		<div class="card">
					          			<div class="card-body">
					          				<div class="row">
									            <div class="col-sm-12">
									              <div class="form-group">
									                <label for="name">Catégorie</label>
									                <input type="text" class="form-control" id="name" placeholder="Nom du catégorie">
									              </div>
									            </div>
									          </div><!--/.row-->
									          <div class="row">
									          	<div class="col-sm-12">
									          		<button class="btn btn-primary">
									          			<i class="fa fa-save"></i>
									          			Enregistrer
									          		</button>
									          	</div>
									          </div>
					          			</div>
					          		</div>
					          	</div>
					          </div>
					        </tab>
					        <tab heading="Medicaments (INN)">
					          <div class="row">
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Nom du médicaments</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Catégorie</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					          </div><!--/.row-->
					          <div class="row">
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Source de Financement</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Quantité Disponible</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					          </div><!--/.row-->
					          <div class="row">
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Consaommation annuelle moyenne</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					            <div class="col-sm-6">
					              <div class="form-group">
					                <label for="name">Consaommation mensuelle moyenne</label>
					                <input type="text" class="form-control" id="name" placeholder="">
					              </div>
					            </div>
					          </div><!--/.row-->
					        </tab>
					      </tabset>
					    </div><!--/.col-->
                		
                	</div>

                </div>
            </div>
        </div>
    </div>
</div>