<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Statistique
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md mb-sm-3 mb-0">
                          <div class="text-muted">Tous</div>
                          <strong>{{ tous }} Personnes ({{percentTous}}%)</strong>
                          <div class="progress progress-xs mt-2">
                            <div class="progress-bar bg-info" role="progressbar" [ngStyle]="setMyStyles(percentTous)" [attr.aria-valuenow]="percentTous" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md mb-sm-3 mb-0">
                          <div class="text-muted">Blanc</div>
                          <strong>{{blanc}} Personnes ({{percentBlanc}}%)</strong>
                          <div class="progress progress-xs mt-2">
                            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="setMyStyles(percentBlanc)" [attr.aria-valuenow]="percentBlanc" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md mb-sm-3 mb-0">
                          <div class="text-muted">Jaune</div>
                          <strong>{{jaune}} Personnes ({{percentJaune}}%)</strong>
                          <div class="progress progress-xs mt-2">
                            <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="setMyStyles(percentJaune)" [attr.aria-valuenow]="percentJaune" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md mb-sm-3 mb-0">
                          <div class="text-muted">Rouge</div>
                          <strong>{{rouge}} Personnes ({{percentRouge}}%)</strong>
                          <div class="progress progress-xs mt-2">
                            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="setMyStyles(percentRouge)" [attr.aria-valuenow]="percentRouge" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    


  <div class="row">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Liste des Enquêtes 

                <select (change)="listPeople($event.target.value)">
                    <option value="tous">Tous</option>
                    <option value="blanc">Blanc</option>
                    <option value="jaune">Jaune</option>
                    <option value="rouge">Rouge</option>
                </select>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-hover table-outline mb-0">

                	<thead>
                		<tr>
                			<th>Nom</th>
                			<th>Nom de Famille</th>
                			<th>Ville</th>
                			<th>Quartier</th>
                			<th>Region</th>
                			<th>Tél</th>
                            <th>Tél famille</th>
                			<th>Etat</th>
                		</tr>
                	</thead>

                	<tbody>
                		<tr *ngFor="let person of people" class="">
                			<td>
                				{{ person.name }}
                			</td>
                			<td>
                                {{ person.last_name }}         
                            </td>
                			<td>
                                {{ person.city }}         
                            </td>
                			<td>
                                {{ person.ditrict }}         
                            </td>
                			<td>
                                {{ person.region }}         
                            </td>
                			<td>
                                {{ person.phone }}         
                            </td>
                			<td>
                                {{ person.family_phone }}         
                            </td>
                            <td>
                                <div class="clearfix">
                                    <div class="float-left">
                                      <!-- <strong>{{person.percent}}% des symptômes</strong> -->
                                      <strong>{{ person.me }}/{{person.sick}} symptomes</strong>
                                    </div>
                                    <!-- <div class="float-right">
                                      <small class="text-muted">{{ person.me }}/{{person.sick}} symptomes</small>
                                    </div> -->
                                </div>
                                <div class="progress progress-xs" *ngIf="person.confirmed == 'rouge'">
                                    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="setMyStyles(person.percent)" [attr.aria-valuenow]="person.percent" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                <div class="progress progress-xs" *ngIf="person.confirmed == 'blanc'">
                                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="setMyStyles(person.percent)" [attr.aria-valuenow]="person.percent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress progress-xs" *ngIf="person.confirmed == 'jaune'">
                                    <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="setMyStyles(person.percent)" [attr.aria-valuenow]="person.percent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                		</tr>
                	</tbody>
                	
                </table>
            </div>
        </div>
        
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Cartographie</div>
            <div class="card-body">
                <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
                 <agm-marker *ngFor="let location of locationList" [latitude]="location.lat" [longitude]="location.lng" ></agm-marker>
               </agm-map>
            </div>
        </div>
    </div>
    </div>
</div>

<style type="text/css">
    i.rouge{
        color: #da1a21 !important;
    }
    i.blanc{
        color: #8bc34a !important;
    }
    i.jaune{
        color: #ff9800 !important;
    }
    agm-map {
     height: 500px;
   }
</style>


